<div class="header">
  <div class="title">
    <img class="logo" src="assets/images/logo.png">
  </div>
  <div class="header-right">
    <img class="alert" src="assets/images/arabic-icon.png">
    <img class="alert" src="assets/images/notification.svg">
    <img class="alert" src="assets/images/profile.svg">
    <img class="alert" src="assets/images/logout.svg">
  </div>
<!--  <div class="header-divider"></div>-->
</div>
